<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="AWSRegion" value="eu-central-1"/>
        <add key="AWSProfileName" value="AWS Default"/>
        <!--<add key="AWSAccessKey" value="********************"/>
        <add key="AWSSecretKey" value="****************************************"/>-->
    </appSettings>
</configuration>